<div class="container-fluid">
  <div class="page-background row align-items-center justify-content-center">
    <div class="col-md-8 card ">
      <form *ngIf="state===1" [formGroup]="bookingForm">
        <div class="form-row card-body">
          <div class="col">
            <div class="form-group">
              <label for="destination">Destination</label>
              <select formControlName="dest" id="destination" class="custom-select">
                <option value="CMB">Colombo</option>
                <option value="KDY">Kandy</option>
                <option value="NEG">Negombo</option>
              </select>
            </div>
          </div>
          <div class="col-md col">
            <div class="form-group">
              <label for="vtype">Vehicle Type</label>
              <select formControlName="vType" id="vtype" class="custom-select">
                <option value="car">Car</option>
                <option value="van">Van</option>
                <option value="bus">Bus</option>
              </select>
            </div>
          </div>
          <div class="col-md col">
            <div class="form-group">
              <label for="memNo">No. of Members</label>
              <select formControlName="members" id="memNo" class="custom-select">
                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dur">Duration</label>
              <select formControlName="dur" id="dur" class="custom-select">
                <option value="1">1 Day</option>
                <option value="2">2 Days</option>
                <option value="3">3 Days</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label id="bookLabel">book</label>
              <button type="button" (click)="state=2;" class="btn btn-primary btn-block">Book</button>
            </div>
          </div>
        </div>
      </form>
      <div>
        {{bookingForm.value | json}}
      </div>
      <div *ngIf="state===2">
        <div class="row align-items-center">
          <h5 class="col-sm-2">Email :</h5>
          <p class="col-sm-10 summary">{{bookingForm.get('vType').value}}</p>
        </div>
      </div>
    </div>
  </div>
</div>