.page-background {
    background: url(../assets/imgs/photo.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}
#bookLabel{
    visibility: hidden;
}
.summary{
    font-size: 1.2em;
}